<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{ student.avatar_url }}"
        >
    </div>
</div>
<div class="item">
    <div>Nome completo</div>
    <div>
        <input 
            type="text"
            name="name"
            placeholder="Marcos da Silva"
            value = "{{ student.name }}"
        >
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div>
        <input 
        type="email" 
        name="email"
        placeholder="joao@usp.edu.br"
        value = "{{ student.email }}"
        >
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>  
        <input 
            type="date"
            name="birth"
            value = "{{ student.birth }}"
        >
    </div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
    <span>
        <input type="radio" name="gender" value="M"
            {% if student.gender == "M"%}
                checked
            {% endif %} >Masculino
        </span>
        <span>
            <input type="radio" name="gender" value="F"
            {% if student.gender == "F"%}
                checked
            {% endif %}    
            >Feminino
        </span>
    </div>
</div>

<div class="item">
    <div>Ano escolar</div>
    <div class="school__year" style="width:200px;">
        <select name="school_year">
            <option value="5-fundamental" {% if student.school_year == "5-fundamental"%} selected {% endif %} >5º ano Fundamental</option>
            <option value="6-fundamental" {% if student.school_year == "6-fundamental"%} selected {% endif %} >6º ano Fundamental</option>
            <option value="7-fundamental" {% if student.school_year == "7-fundamental"%} selected {% endif %} >7º ano Fundamental</option>
            <option value="8-fundamental" {% if student.school_year == "8-fundamental"%} selected {% endif %} >8º ano Fundamental</option>
            <option value="1-medio" {% if student.school_year == "1-medio"%} selected {% endif %} >1º ano Médio</option>
            <option value="2-medio" {% if student.school_year == "2-medio"%} selected {% endif %} >2º ano Médio</option>
            <option value="3-medio" {% if student.school_year == "3-medio"%} selected {% endif %} >3º ano Médio</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Carga horária (semanal)</div>
    <div class="hours-week" style="width:100px;">
        <input type="number">
    </div>
</div>

<button type="submit">Salvar</button>