@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap";
:root{
    --color-blue:#00185f;
    --primary-color: rgb(88, 88, 88);
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
}
header{
    background-color: rgb(241, 241, 241);
    width: 100%;
    padding: 24px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    text-align: center;
}

.links a{
    color: #777;
    font-size: 18px;
    line-height: 26px;
    margin: 0 16px;
    text-decoration: none;
    position: relative;
}

.links a + a{
    margin-left: 32px;
}

.links a.active{
    font-weight: 700;
    color: var(--color-blue);
}

.links a:hover{
    color: var(--color-blue);
}

.links a::after{ /* pseudo-elemento */
    content: ""; /* sempre precisa ter esse content, pode ser vazio */
    width: 0;
    height: 2px;
    background-color: var(--color-blue);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after{
    width: 100%;
    transition: width 500ms ease-in-out;
}

.footer{
    position: absolute;
    bottom: 0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.08);
    height:64px;
    font-weight: 300;    
}

#links-footer{
    position: relative;
    top: 3vh;
}

body div a:hover{
    color:var(--color-blue);
    transition: color 700ms
}

.not-found {
    font-size: 32px;
    text-align: center;
    padding-top: 64px;
}