{% extends "layout.njk" %}


{% block content %}

    <div class="card">
    
    <section class="avatar" style="opacity: 0.87; background: url(https://source.unsplash.com/collection/609053/500x500) no-repeat center center / cover">
    </section>
    
    <section class="details">
    
        <h3>Detalhes</h3>

        <div class="item">
            <div>Nome</div>
            <div>Daniel Nascimento</div>
        </div> 
        <div class="item">
            <div>Idade</div>
            <div>25</div>
        </div>
        <div class="item">
            <div>Grau de escolaridade</div>
            <div>Superior completo</div>
        </div>
        <div class="item">
            <div>Tipo de Aula</div>
            <div>Presencial</div>
        </div>
        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Matemática</span>
                <span>Português</span>
            </div>
        </div>
        <div class="item">
            <div>Desde</div>
            <div>01/01/2017</div>
        </div>

    </section>

    </div>

{% endblock content %}
